# Backend
backend/.gradle/
backend/build/
backend/bin/main/application.yaml
backend/*.class
backend/.idea/
backend/*.iml
backend/.DS_Store
backend/*.log
backend/.env

# Frontend - yarn cache is too large to commit; run `yarn install` to restore
frontend/.yarn/cache/
frontend/node_modules/
frontend/src/main/public/
frontend/src/main/views/govuk/
frontend/src/main/resources/localhost-ssl/
frontend/coverage/
frontend/functional-output/
frontend/smoke-output/
frontend/.eslintcache
frontend/.DS_Store
frontend/*.log
